@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Great+Vibes&family=Merienda:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Iso&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.none {
    display: none;
}

.c-navbar {
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 10px 115px;
    background-color: #282828b5;
    backdrop-filter: blur(5px);
}

.navbar-dark .navbar-brand {
    height: 45px;
}

.dropdown-menu {
    border-radius: 0.25rem;
    background-color: #212529;
    margin: 0.74rem 0 0;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #353b41;
    color: white;
}

.navbar-dark .navbar-brand {
    color: darkslategrey;
    transition: 0.7s ease;
}

.navbar-dark .navbar-brand:hover {
    background-image: linear-gradient(135deg, rgb(58, 58, 177) 25%, rgb(241, 124, 7) 125%);
    -webkit-background-clip: text;
    color: transparent;
}

.logo{
    font-weight: 700;
    font-size: 24px;
    display: flex;
    margin-right: 1rem;
    align-items: center;
    letter-spacing: 1px;
}

.logo img {
    width: 42px;
}

section {
    padding: 100px 115px;
}

.main{
    background-image: url(../images/growtika-nGoCBxiaRO0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #b264ff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.main-d .social-icons {
    display: flex;
    justify-content: space-around;
    width: 230px;
    margin-top: 43px;
}

.main-d .social-icons a {
    font-size: 1.8em;
}

.up-in {
    display: flex;
    width: 250px;
    margin-top: 50px;
}

.up-in:hover {
    .s-up {
        background-image: linear-gradient(135deg, rgb(58, 58, 177) 25%, rgb(241, 124, 7) 125%);
        border-radius: 25px 0 0 25px;
    }

    .l-in {
        background: linear-gradient(315deg, #191919 25%, #000000 90%);
        border-radius: 25px;
        z-index: 2;
        margin-right: -20px;
    }

}

.up-in a {
    text-decoration: none;
}

.s-up {
    background: linear-gradient(315deg, #191919 25%, #000000 90%);
    width: 50%;
    display: flex;
    padding: 10px;
    border-radius: 25px;
    justify-content: center;
    color: white;
    z-index: 2;
    transition: 1s ease;
}

.s-up:hover {
    color: white;
}

.l-in {
    background-image: linear-gradient(135deg, rgb(58, 58, 177) 25%, rgb(241, 124, 7) 125%);
    width: 50%;
    display: flex;
    padding: 10px;
    border-radius: 0 25px 25px 0;
    justify-content: center;
    color: white;
    margin-left: -20px;
    transition: 1s ease;
}

.l-in:hover {
    color: white;
}

.sec-ceo {
    background-image: url(../images/Untitled-55.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px;
}

.ceo {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.ceo-i {
    width: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.ceo-ii {
    width: 50%;
    display: grid;
    justify-content: center;
}

.ceo-ii a {
    background-color: #fff;
    color: black;
    text-decoration: none;
    width: 330px;
    padding: 10px 30px;
    border-radius: 25px;
    margin: 40px 0;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #ced4da;
    transition: 0.5s ease;
}

.ceo-ii-1:hover {
    border-bottom: 5px solid #1389fd;
}

.ceo-ii-2:hover {
    border-bottom: 5px solid #f26207;
}

.ceo-ii img {
    width: 50px;
}

span {
    font-size: 25px;
    font-weight: 600;
}

.ceo-ii-sp {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pr-1 {
    padding-right: 40px;
}

.platforms {
    background-image: url(../images/63c95c7609132a5b5d4ada61_Coding-labs-illustration.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    display: inline-block;
    padding: 0;
}

.platform {
    background-color: #000016c4;
    backdrop-filter: blur(5px);
    min-height: 60vh;
    padding: 70px 50px;
}

.plat {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.plat-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;
}

.plat-2 a {
    background-color: #343a40;
    color: #6c757d;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 10px;
    border-bottom: 4px solid #212529;
    display: flex;
    align-items: center;
    width: 220px;
    font-family: cursive;
    font-size: 17px;
    margin: 10px;
    transition: 0.5s ease;
}

.plat-2 a:hover {
    border-bottom: 4px solid #5b99fd;
}

.plat-2 a img {
    width: 50px;
    margin-right: 10px;
}

.card {
    margin: 10px;
}

.other {
    background-image: url(../images/TCH36-01-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 115px;
    backdrop-filter: blur(3px);
}

.cs-card {
    height: 200px;
    margin-bottom: 50px;
}

.card-x {
    background-color: #2125291f;
    display: flex;
    flex-direction: column;
    padding: 25px 25px 10px 25px;
    margin: 25px;
    width: 21rem;
    border-radius: 0 10px;
    height: 206px;
    transition: 0.3s ease;
}

.card-x:hover {
    backdrop-filter: blur(5px);
    background-color: #21252947;
}

.card-1 {
    box-shadow: 1px 1px 4px 0px #348b6b;
}

.card-1:hover {
    box-shadow: 3px 3px 5px 1px #348b6b;
}

.card-1 .card-titel h3 {
    color: #348b6b;
}

.card-2 {
    box-shadow: 1px 1px 4px 0px #3786e3;
}

.card-2:hover {
    box-shadow: 3px 3px 5px 1px #3786e3;
}

.card-2 .card-titel h3 {
    color: #a586eb;
}

.card-3 {
    box-shadow: 1px 1px 4px 0px #f6c705;
}

.card-3:hover {
    box-shadow: 3px 3px 5px 1px #f6c705;
}

.card-3 .card-titel h3 {
    color: #1073ff;
}

.card-img {
    display: flex;
    justify-content: center;
}

.card-img img {

    width: 95px;
}

.card-titel {
    text-align: center;
}

.card-titel a {
    text-decoration: none;
}

.card-titel h3 {
    font-size: 1.3rem;
    padding-top: 37px;
}

.button {
    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 1.3em 2em;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
}

.footer-title span {
    color: #3a6cf4;
    font-size: 1.2rem;
}

.footer .social-icons a {
    font-size: 1.7em;
    display: flex;
    align-items: center;
}

@media (max-width:767px){
    .c-navbar {
        padding: 0.5rem 1rem;
    }

    header {
        padding: 10px 30px;
    }

    .navigation {
        display: none;
    }


    section {
        padding: 50px 20px 10px;
    }

    .main {
        justify-content: center;
        background-attachment: scroll;
    }

    .main-d {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main h2 span {
        text-align: center;
        font-size: 2.7em;
    }

    .main h3 {
        font-size: 1.6em;
    }

    .platform {
        padding: 70px 0;
    }

    .social-icons {
        justify-content: center;
    }

    .social-icons a {
        font-size: 2.1em;
    }

    .footer .social-icons {
        display: none;
    }

    .footer-title {
        font-size: 1em;
    }

    .footer-title span {
        font-size: 0.95em;
    }

    /* .card {
        width: 17rem;
    } */
}

@media (min-width:768px) and (max-width:1199px){
    header {
        padding: 10px 30px;
    }

    .section {
        padding: 10px 30px;
    }

    .main {
        justify-content: center;
    }

    .main-d {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-icons {
        justify-content: center;
    }

    .social-icons a {
        font-size: 2.1em;
    }
}

@media (min-width:1200px){

    .card-x:hover {
        margin-top: 30px;
    }
}