@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Great+Vibes&family=Merienda:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Iso&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

.c-navbar {
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 10px 115px;
    background-color: #292e32;
}

.navbar-dark .navbar-brand {
    padding-top: 0.05rem;
    height: 45px;
}

.dropdown-menu {
    border-radius: 0.25rem;
    background-color: #212529;
    margin: 0.74rem 0 0;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #353b41;
    color: white;
}

.navbar-dark .navbar-brand {
    color: #00ccff;
}

.navbar-dark .navbar-brand:hover {
    color: #00ccff;
}

.logo{
    font-weight: 700;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.logo img {
    width: 25px;
    margin-right: 3px;
}

.main {
    background-image: url(../images/aedrian-6q7UNoz9AjM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.d-main {
    width: 100%;
    padding: 100px 115px;
    min-height: 100vh;
    backdrop-filter: blur(5px);

}

.d-i {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.a-i {
    transition: 0.7s ease;
}

.a-i:hover {
    transform: scale(1.02);
    
}

.a-i img {
    width: 600px;
    border-radius: 10px;
    border: 5px solid #ff0000;
    box-shadow: 0 0 10px 2px #ff0000;
    margin: 25px 20px 0px 20px;
}

.a-i div {
    display: flex;
    justify-content: space-between;
}

.a-i span {
    color: white;
    background-color: #ff0000;
    border-radius: 10px 0;
    padding: 0 5px;
    font-weight: 500;
}

.a-i h2 {
    color: white;
    font-weight: 200;
    margin: -45px 0 0 35px;
}

.a-i h3 {
    margin: -35px 20px 0 0;
    border-radius: 5px;
}

@media (max-width: 767px){
    .c-navbar {
        padding: 0.5rem 1rem;
    }

    .a-i img {
        width: 300px;
    }

    .d-main {
        padding: 100PX 10PX;
    }

    .a-i h2 {
        font-size: 20px;
        margin: -40px 0 0 35px;
    }
}
