@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Lobster&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Great+Vibes&family=Merienda:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Iso&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.c-navbar {
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 10px 115px;
    background-color: #282828b5;
    backdrop-filter: blur(5px);
}

.navbar-dark .navbar-brand {
    height: 45px;
}

.navbar-dark .navbar-brand {
    color: darkslategrey;
    transition: 0.7s ease;
}

.navbar-dark .navbar-brand:hover {
    background-image: linear-gradient(135deg, rgb(58, 58, 177) 25%, rgb(241, 124, 7) 125%);
    -webkit-background-clip: text;
    color: transparent;
}

.logo{
    font-weight: 700;
    font-size: 24px;
    display: flex;
    margin-right: 1rem;
    align-items: center;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.logo img {
    width: 42px;
}

.main {
    min-height: 100vh;
    background-image: url(../images/pexels-pavel-danilyuk-8294626.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 50px;
}

.d-web-store {
    display: flex;
    padding-left: 30px;
}

.d-web-store:hover {
    .a-ct{
        background: linear-gradient(315deg, #191919 25%, #000000 90%);
    }

    .a-ct:hover {
        background: linear-gradient(315deg, #98a3bf -65%, #3722a3 70%);
    }
}

.d-web-store a {
    text-decoration: none;
    color: white;
}

.web-store {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(315deg, #191919 25%, #000000 90%);
    padding: 7px;
    border-radius: 10px;
    margin-right: 15px;
    height: 57px;
}

.web-store-hov:hover {
    background: linear-gradient(315deg, #98a3bf -65%, #3722a3 70%);
}

.web-store img {
    width: 33px;
    margin-right: 5px;
}

.web-store h2 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

.a-ct {
    background: linear-gradient(315deg, #98a3bf -65%, #3722a3 70%);
}

.a-ct h2 {
    color: white;
}

.cr {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

.cr-i {
    margin: 0 20px 70px;
}

.cr-i h3 {
    font-size: 30px;
    font-weight: bold;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 5%);
    text-shadow: 2.5px 2.5px 4px #000000;
    color: white;
    backdrop-filter: blur(5px);
}

.cr-ii {
    width: 500px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    backdrop-filter: blur(5px);
}

.cr-ii a {
    width: 100%;
    background-color: white;
    color: black;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
    transition: 0.2s ease;
}

.cr-ii a:hover {
    box-shadow: 0px 0px 5px 2px white;
    color: #601cfc;
}


.cr-ii a img {
    width: 50px;
    margin: 0 15px;
    border-radius: 15px;
}

.cr-ii a h4 {
    font-size: 20px;
    margin: 0;
    font-family: cursive;
}